# Unity project artifacts
unity/**/Library/
unity/**/Logs/
unity/**/Temp/
unity/**/obj/
unity/**/UserSettings/
unity/**/MemoryCaptures/
unity/**/Builds/
unity/**/.vs/
unity/**/.vsconfig
unity/**/Packages/packages-lock.tmp

# Unity generated project files
unity/**/*.sln
unity/**/*.csproj
unity/**/*.user
unity/**/*.csproj.user

# Unity build outputs
unity/aritamR7_BurstDebugInformation_DoNotShip/
unity/aritamR7_Data/
unity/D3D12/
unity/MonoBleedingEdge/
UnityCrashHandler64.exe
UnityPlayer.dll

# License
.Unity_lic.ulf

# Docker build artifacts
.docker-config/
build/
